<footer class="footer pt-3">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-12 mb-4 mb-lg-0">
        <div class="copyright text-center text-sm text-muted">
          © <script>document.write(new Date().getFullYear())</script> HACCP Guard
        </div>
      </div>
    </div>
  </div>
</footer>
