<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <h6 class="font-weight-bolder mb-0"><%= appName %></h6>
    </nav>
    <ul class="navbar-nav d-flex align-items-center  justify-content-end">
      <li class="nav-item d-flex align-items-center">
        <span class="d-sm-inline d-none me-2"><%= env %></span>
        <i class="fa fa-user me-sm-1"></i>
      </li>
    </ul>
  </div>
</nav>
