<%- include('../layouts/layout', { title: 'Assets' }) %>
<h1>Assets</h1>
<table class="table table-striped">
  <thead><tr><th>Nome</th><th>Tipo</th><th>Local</th><th>Limites</th></tr></thead>
  <tbody><tr><td>Asset demo</td><td>equipment</td><td>Armazém</td><td>-2 a 4°C</td></tr></tbody>
</table>
