<%- include('../layouts/layout', { title: 'Rondas do dia' }) %>
<h1>Rondas do dia</h1>
<div class="row" id="roundCards">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Ronda exemplo</h5>
        <p class="card-text">Hora prevista: 06:00</p>
        <div class="progress mb-2"><div class="progress-bar" style="width: 30%"></div></div>
        <a href="#" class="btn btn-primary">Abrir</a>
      </div>
    </div>
  </div>
</div>
