<%- include('../layouts/layout', { title: 'Utilizadores' }) %>
<h1>Utilizadores</h1>
<table class="table table-striped">
  <thead><tr><th>Username</th><th>Role</th></tr></thead>
  <tbody><tr><td>admin</td><td>admin</td></tr></tbody>
</table>
